@import "../../utils/variable.scss";

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 60px;
    padding-top: 56px;
    padding-bottom: 43px;
    width: 1240px;
    margin-bottom: 50px;
    background-color: $background;
    border-radius: 25px;
  }