@import "../../utils/variable.scss";

.collapse-container {
  padding: 10px 20px 10px 15px;
  }
  
  .collapse-title {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px 10px 15px;
    height: 52px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .arrow {
      transition: transform 0.3s ease;
    }
  
    &.open .arrow {
      transform: rotate(180deg);
    }
  }
  
  .collapse-content {
    padding: 10px;
    border: 1px solid $primary-color;
    border-top: none;
  }