@import "../../utils/variable.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 43px 107.500px 50px 107.500px;

    .logo {
        img {
            width: 210.32px;
            height: 68px;
        }
    }

    nav {
        display: flex;
        width: 309px;
        height: 34px;
        justify-content: center;
        align-items: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: $primary-color;

            &.active {
                border-bottom: 1px solid $primary-color;
              }
        }
    }
}