@import "../../utils/variable.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    padding: 20px 40px;
=======
    margin-top: 43px;
>>>>>>> de474ea (Mise à jour)

    .logo {
        img {
            width: 210.32px;
            height: 68px;
        }
    }

    nav {
        display: flex;
        width: 309px;
        height: 34px;
        justify-content: center;
        align-items: center;
        gap: 20px;

        a {
            text-decoration: none;
            color: $primary-color;
<<<<<<< HEAD
            font-family: $font;
=======
>>>>>>> de474ea (Mise à jour)

            &.active {
                border-bottom: 1px solid $primary-color;
              }
        }
    }
}