// Couleurs
$primary-color: #FF6060;
$secondary-color: #FFFFFF;
<<<<<<< HEAD
$backgrount: #F6F6F6;
$footer-color: #000000;

// Typographie
$font: 'Montserrat', sans-serif;
=======
$background: #F6F6F6;
$footer-color: #000000;

// Typographie
$font-weight: 500;
>>>>>>> de474ea (Mise à jour)
