@import "../../utils/variable.scss";

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .img404 {
        width: 597px;
        height: 263px;
    }
  
    p {
        color: $primary-color;
        font-size: 36px;
    }
  
    a {
        color: $primary-color;
        font-size: 18px;
        text-decoration-line: underline;
    }
  }
  