@import "../../utils/variable.scss";

.footer {
    background-color: $footer-color;
    color: white;
    padding: 66px 464px 29px 463px;
    font-size: 0.8em;
    text-align: center;
    
  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 28.556px; 
    }

    .logo {
        margin-bottom: 10px;
      }
}